<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add country</title>
</head>
<body>
<form method="post" action="/web/country/add">
    <table>
        <tr>
            <td> <input type="text" name="code"/></td>
            <td>Code</td>
        </tr>
        <tr>
            <td> <input type="text" name="name"/></td>
            <td>Name</td>
        </tr>
        <tr>
            <td> <input type="text" name="continent"/></td>
            <td>Continent</td>
        </tr>
        <tr>
            <td> <input type="text" name="region"/></td>
            <td>Region</td>
        </tr>
        <tr>
            <td> <input type="text" name="population"/></td>
            <td>Population</td>
        </tr>
        <tr>
            <td colspan="2"> <input type="submit" value="Add country"/></td>
        </tr>
    </table>
</form>
</body>
</html>