<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--        <p th:text="${city.name}">This is a paragraph</p>-->
<!--        <p th:text="${city.district}">This is a paragraph</p>-->
<!--        <p th:text="${city.countryCode}">This is a paragraph</p>-->
<!--        <p th:text="${city.population}">This is a paragraph</p>-->

<div th:object="${country}">
    Country code: <span th:text="*{code}"></span><br/>
    Name: <span th:text="*{name}"></span><br/>
    Continent: <span th:text="*{continent}"></span><br/>
    Region: <span th:text="*{region}"></span><br/>
    Population: <span th:text="*{population}"></span><br/>
    Cities: <span th:text="*{cities}"></span><br/>
</div>
</body>
</html>